server:
  port: 8090
  timezone: Asia/Seoul
spring:
  config:
    import: application-secret.yml
  output:
    ansi:
      enabled: ALWAYS
  profiles:
    active: dev
    include: secret
  datasource:
    url: jdbc:mysql://localhost:3306/cmf_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: root123414
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  autoconfigure: # 로컬에서 실행할 때는 Redis와 Session 설정을 제외
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.session.SessionAutoConfiguration
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight: true
        use_sql_comments: true
    websocket:
      enabled: true
  logging:
    level:
      cmf.commitField: DEBUG
      org.hibernate.SQL: DEBUG
      org.hibernate.type.blind: TRACE
      org.hibernate.type.extract: TRACE
      org.springframework.transaction.interceptor: TRACE
      org.springframework: DEBUG
  custom:
    dev:
      cookieDomain: localhost
      frontUrl: "http://${custom.dev.cookieDomain}:5173"
      backUrl: "http://${custom.dev.cookieDomain}:${server.port}"
    prod:
      cookieDomain: cmf.seoez.site
      frontUrl: "https://www.${custom.prod.cookieDomain}/"
      backUrl: "https://api.${custom.prod.cookieDomain}/"
    site:
      name: "commit-field"
      cookieDomain: "${custom.dev.cookieDomain}"
      frontUrl: "${custom.dev.frontUrl}"
      backUrl: "${custom.dev.backUrl}"